/*

    Author: Yonnon

    Website: Madara Web DEMO

*/

/* ---------------------------------------------
Table of contents
------------------------------------------------
    01. General Setting
    02. Responsive Snipper
    03. Preloader
    04. Header
    05. Nav

--------------------------------------------- */

/* 
------------------------------------------------
01. General Setting
------------------------------------------------
*/
/* Font-Google */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam&display=swap');
* {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  font-family: 'Be Vietnam', sans-serif; 

  &:focus {
    outline: 0;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

$font-01: "Muli", sans-serif;
$s1: 0.5s;
$m-01: #7681a4;
$m-02: #5d698d;

$c-01: #10182f;
$c-02: #545d7a;
$c-03: #306bf3;

$g-01: linear-gradient(140deg, $m-01, $m-02);

$neu-01: #f7f8fc;
$neu-02: #dae1f5;
$neu-03: #6f7073;
$neu-04: #505050;
$neu-05: #403e3e;

/* 
------------------------------------------------
02. Responsive Snipper
------------------------------------------------
*/

@mixin container {
  width: 70%;
  height: 100%;
  margin: 0px auto;
}

@mixin lg {
  @media screen and (max-width: 1180px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 1023px) {
    @content;
  }
}

@mixin sm {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin xs {
  @media screen and (max-width: 511px) {
    @content;
  }
}

/* 
      Devices : iphone 5/SE, iphone 6,7,8 (plus), iphone X, small Table, Ipad, Ipad Pro, TV 1920x1080
      Vertical : d
      Horizontal : n
*/

/* IPHONE 5, SE */
@mixin v5 {
  @media screen and (max-width: 320px) {
    @content;
  }
}

@mixin h5 {
  @media screen and (max-width: 568px) {
    @content;
  }
}

/* IPHONE 6,7,8 */

@mixin v678 {
  @media screen and (max-width: 375px) {
    @content;
  }
}

@mixin h678 {
  @media screen and (max-width: 667px) {
    @content;
  }
}

/* IPHONE 6,7,8 (plus) */

@mixin v678P {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin h678P {
  @media screen and (max-width: 736px) {
    @content;
  }
}
/* 


/* IPHONE X */

@mixin vX {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin hX {
  @media screen and (max-width: 812px) {
    @content;
  }
}

/* 


/* SMALL TABLE */

@mixin vSmallTable {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin hSmallTable {
  @media screen and (max-width: 800px) {
    @content;
  }
}

/* 


/* IPAD */

@mixin vIpad {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* IPAD PRO */

@mixin vIpadP {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin hIpadP {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

/* 


/* DESKTOP */

@mixin vIpad {
  @media screen and (max-width: 1920px) {
    @content;
  }
}

@mixin hIpad {
  @media screen and (max-width: 1080px) {
    @content;
  }
}

/* 


/* Custom */

@mixin v500 {
  @media screen and (max-width: 500px) {
    @content;
  }
}

body {
  height: 200vh;
}

::selection {
  background-color: #eb3349;
  color: #fff;
}
/* 
---------------------------------------------
03. Preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 
---------------------------------------------
04. Header
--------------------------------------------- 
*/

.header-aria {
  background-image: linear-gradient(270deg, #f35b43 0%, #eb3349 100%);
  overflow: hidden;

  /* MENU Start */
  .main-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    position: relative;

    @include md {
      display: flex;
      height: 60px;
      padding: 0 0;
    }

    @include sm {
      height: 60px;
      display: flex;
    }

    /* LOGO */
    a#logo {
      margin-bottom: 1%;
      width: 23%;

      @include md {
        width: 50%;
      }

      @include v5 {
        width: 50%;
      }

      img {
        @include v5 {
          font-size: 60% !important;
        }
      }
    }

    /* Option MENU */
    /* Relative */
      .menu-dropdown {
      display: flex;
      align-items: center;
      width: 50%;

      /* Menu Relative */
      .menu-dropdown__primary {
        /* Hover Display Menu Absolute */
        &:hover > .menu-dropdown__secondary {
          opacity: 1;
          transition: all 0.3s ease;
          transform: translateY(-10px);
          visibility: visible;
        }

        margin: 0% 4%;
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        white-space: nowrap;
        cursor: pointer;
        position: relative;
        /* Text Hover Animation */
        span {
          font-size: 100%;
          text-transform: uppercase;
          font-weight: bolder;
          padding: 5px 5px;
          &::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            left: 50%;
            transition: width 0.2s ease 0s, left 0.2s ease 0s;
            background-color: rgba(255, 255, 255, 0.78);
            bottom: 0;
          }

          &:hover:after {
            width: 100%;
            left: 0;
          }
        }

        i {
          &.fa-chevron-down {
            margin-left: 10%;
            font-size: 80%;
            margin-bottom: 5%;
          }

          &.fa-shopping-bag {
            margin-right: 5%;
          }
        }

        /* Menu Absolute */ 
        ul.menu-dropdown__secondary {
          position: absolute;
          display: inline-block;
          top: 100%;
          transition: all 0.3s ease;
          transform: translateY(10px);
          visibility: hidden;
          opacity: 0;
          width: 200px;
          background-color: red;
          &:hover {
            opacity: 1;
            transform: translateY(-10px);
            visibility: visible;
          }
          li {
            width: 100%;
            a {
              color: #111;
              padding: 8px 20px;
              background-color: #fff;
              border-bottom: 1px solid rgba(224, 224, 224, 0.7);
              box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
                0 3px 6px rgba(0, 0, 0, 0.23);
              text-transform: uppercase;
              font-size: 1.4rem;
              &:hover {
                background-color: rgb(224, 224, 224);
                transition: all 0.3s ease;
                transition: none !important;
              }
            }
            .arrow {
              position: absolute;
              width: 11px;
              height: 11px;
              top: 5%;
              left: 10%;
              transform: rotate(45deg);
              background-color: #fff;
              cursor: pointer;
            }
          } /* li */
        } /* ab */
    } /* re */

      @include md {
        display: none;
        visibility: hidden;
      }

    }

    /* Search Button*/
    &__search {
      align-items: center;
      display: flex;
      width: 25%;
      margin-bottom: 1%;
      right: 0%;
      @include md {
        width: 50%;
        margin-bottom: 0%;
        display: flex;
      }
      .search-icon {
        display: flex;
        align-items: center;
        width: 100%;
      }

      /* Search Icon */
      i {
        cursor: pointer;
        color: #eb3349;
        background-color: #fff;
        padding: 1.5vh 1.5vh;
        border-radius: 50%;
        font-size: 100%;
        font-weight: bold;
        margin-left: 40%;
        margin-right: 10%;

        &:hover {
          background-color: #111;
          color: #fff;
          transition: all 0.2s ease;
        }
        @include md {
          margin-left: 40%;
          margin-right: 0;
        }
        @include v500 {
          margin-left: 80%;     
        }
      }

      /* Advance Start */
      a {
        color: #fff;
        font-size: 120%;
        font-weight: bold;
        text-decoration: none;
        @include md {
          width: 33.33333333%;
          margin-left: 10%;
        }

        @include v500 {
          display: none;
        }
      }
    }

    /* Hambuger and Check Start */
    .hamburger {
      position: absolute;
      top: 0.5rem;
      right: 0.5rem;
      width: 40px;
      height: 40px;
      z-index: 2;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: pink;
      z-index: 10;
      display: none;
      div {
        position: absolute;
        width: 70%;
        height: 3px;
        border-radius: 1.5px;
        background-color: #fff;
        transition: all ease 0.3s;
      }
    }

    #check {
      position: absolute;
      top: 0.2rem;
      right: 0.5rem;
      width: 40px;
      height: 40px;
      cursor: pointer;
      // opacity: 0;
      z-index: 3;
      display: none;
    }

    // .hamburger {
    //   width: 9vh;
    //   height: 9vh;
    //   z-index: 2;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    //   border-radius: 50%;
    //   position: relative;
    //   cursor: pointer;
    //   display: none;
    //   @include md {
    //     display: flex;
    //     width: 33.33333333%;
    //     margin-left: 40%;
    //   }

    //   div {
    //     position: absolute;
    //     width: 35px;
    //     height: 3px;
    //     border-radius: 1.5px;
    //     background-color: #fff;
    //     transition: .4s;

    //     &::before {
    //       content: '';
    //       position: absolute;
    //       width: 35px;
    //       height: 3px;
    //       border-radius: 1.5px;
    //       background-color: #fff;
    //       top: -1.8vh;
    //       left: 0px;
    //       transition: .4s;
    //     }

    //     &::after {
    //       content: '';
    //       position: absolute;
    //       width: 35px;
    //       height: 3px;
    //       border-radius: 1.5px;
    //       background-color: #fff;
    //       top: 1.8vh;
    //       left: 0;
    //       transition: .4s;
    //     }
    //   }
    // }

    // /* Checkbox Set Animation For Hamburger*/
    // #check {
    //   width: 4.5rem;
    //   height: 4.5rem;
    //   z-index: 10000;
    //   position: absolute;
    //   right: 3%;
    //   opacity: 0;
    //   cursor: pointer;

    //   &:checked ~ .main-nav__search .hamburger > div {
    //     transform: translateX(0);
    //     width: 0;
    //   }

    //   &:checked ~ .main-nav__search .hamburger > div::before {
    //     transform: rotate(45deg) translate(5.8px, 0px);
    //     transition: all .3s ease;
    //     transform-origin: top left;
    //   }

    //   &:checked ~ .main-nav__search .hamburger > div::after {
    //     transform: rotate(-45deg) translate(5.8px, 0px);
    //     transition: all .3s ease;
    //     transform-origin: bottom left;
    //   }
    // }

    // #check:checked:hover ~ .main-nav__search .hamburger > div::before {
    //   transform: rotate(180deg);
    //   transform-origin: bo;
    // }

    // #check:checked:hover ~ .main-nav__search .hamburger > div::after {
    //   transform: rotate(225deg);
    // }
  }
}


/* 
---------------------------------------------
05. Nav
--------------------------------------------- 
*/
/* Nav Start */
nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(209, 204, 204);
  .container {
    @include sm() {
      width: 100%;
      margin: 0;
      padding: 0;
    }
    .main-nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 60px;
      @include sm() {
        height: 90px;
      }
      @include md() {
        height: 90px;
      }
      &__category {
        width: 80%;
        a {
          padding: 10px 15px;
          color: #666;
          text-decoration: none;
          cursor: pointer;
          white-space: normal;
          text-transform: uppercase;
          font-size: 1.1em;
          font-weight: 600;
          transition: all ease .3s;
          &:hover{ 
            color: #eb3349;
            transition: all ease .3s;
          }
          i {
            margin-left: 5px;
          }

          @include sm() {
            padding: 10px 13px;
          }
        }
        // @media screen and( max-width: 768px ) {
        //   margin-left: -5em;
        // }
      }
  
      &__login {
        .login-start {
          a.a__login {
            border: 2px solid #666;
            border-radius: 18px;
            padding: 5px 13px;
            color: #666;
            text-decoration: none;
            font-weight: 600;
            font-size: 110%;
            transition: all ease .3s;
            &:hover {
              background-color: #111;
              color: #fff;
              transition: all ease .3s;
            }
            
            @include sm {
              display: none;
            }
  
            @include md() {
              display: flex;
              flex-direction: column;
              margin: 5px 0px;
            }
            @media screen and (max-width : 460px) {
              display: none;
            } 
          }
        }
      } 
    }
  }
}


/* 
---------------------------------------------
06. Title
--------------------------------------------- 
*/
/* Title Start */
.title {
  overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("/img/index/Background/gplaypattern.png");
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    height: 25%;

    @include sm() {
      height: 20%;
    }

      div.fixed-bar {
      width: 20%;
      bottom: 100%;
      @include lg() {
        display: none;
      }

      &__naruto {
        img#fixed1 {
          position: fixed;
          left: 8%;
          top: 25%;
        }
      }
      
      &__onepiece {
        img#fixed2 {
          top: 25%;
          right: 8%;
          position: fixed;
        }
      }
    }
    
    .container {
      width: 60%;
      margin: 0;
      padding: 0;
      overflow: hidden;
      @include sm() {
        width: 90%;
      }
      @media screen and (max-width: 750px) {
        width: 100%;
      }
      @include lg() {
        width: 90%;
      }
    }

    .banner {
      max-height: 400px;
      background-color: #fff;
      overflow: hidden;
      margin: 0;
      padding: 0;
      .owl-theme {
        max-height: 400px;

        .item {
          display: inline-block;
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          width: 100%;
          height: 100%;
          a {
            &:hover > p {
              transform: translateY(-8px);
              transition: all ease .3s;
            }

            span {
              position: absolute;
              top: 0;
              padding: 5px 5px;
              text-transform: uppercase;
              color: #fff;
              background-color: #37b7da;
              border-radius: 100%;
              cursor: pointer;
              font-size: .55em;
              transform: rotate(-10deg) translateX(0px) translateY(0px);
            }

            img {
              height: 100%;
              width: 100%;
            }
            p {
              display: inline-block;
              position: absolute;
              bottom: 4%;
              left: 2%;
              color: #ffffff;
              font-weight: 600;
              white-space: nowrap;
              font-size: 1.4em;
              transition: all ease .3s;
            }
          }
        }
      }

      .owl-dots {
        background-image: url("/img/index/Background/gplaypattern.png");
        margin: 0;
        overflow: hidden;
        span {
          background-color: #eb3349 !important;
          height: 10px;
          width: 10px;
          display: block;
          opacity: .7;
          transition: all ease .3s;
          &:hover {
            opacity: 1;
            transition: all ease .3s;
          }
        }
      }
    }
}



/* 
---------------------------------------------
07. Update
--------------------------------------------- 
*/
.update {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbdbdb;
  padding: 0 0 6em 0;
  margin-top: -2%;
  @include sm() {
    // background-color: transparent; 
  }
  &__main {
    width: 90%;
    margin: 0 auto;
    @include sm() {
      display: inline-block;
    }
  
    /* main */
    .update-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10vh;
      padding: 0 .5em;
      @include sm() {
        padding: 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column nowrap;
        height: 15vh;
      }
      
      /*  1 */
      &__content {
        width: 50%;
        padding: 0;
        padding: 1em 0;
        @include sm() {
          width: 100%;
        }

        
        .content-title {
          display: flex;
          align-items: center;
          left: 0;
          @include sm() {
            margin-left: -2%;
          }

          /* rotate customize */
          div.rotate {
            /* icon */
            position: relative;
            background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5em;
            height: 2.5em;
            margin: 0 1em;

            /* fonawesome */
            i {
              color: #fff;
              font-size: 110%;
            }
            div {
              position: absolute;
              width: .8em;
              height: .8em;
              right: -.3em;
              top: 35%;
              transform: rotate(45deg);
              background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
            }
          }

          /* popular manga update */
          p {
            color: #111;
            font-size: 130%;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: 1px;
            line-height: 2em;
            margin-top: .3em;
          }
        }
      }
  
      /* 2 */
      &__link {
          width: 50%;
          @include sm {
            width: 100%;
          }
          .button-next-prev__page {
              display: flex;
              align-items: center;
              justify-content: flex-end;
              a.a-button-next-prev__page {
              color: rgba(255,255,255,.7);
              background-color: #6d6d6d;
              transition: all ease .3s;
              padding: .8em 1em;
              text-decoration: none;
              margin: 0 0 0 1em;
              &:hover {
                background-color: #eb3349;
                color: #fff;
                transition: all ease .3s;
              }
            }
          }
        }
      
    }
    .main-update {
      padding: 0 .5em;
      @include sm() {
        padding: 0 0;
      }
      &__item {
        display: flex;
        flex-flow: row nowrap;
        transition: all ease .3s;
        padding: 0;
        width: 23%;
        margin: 1em .8em;
        background-color: #fff;


        &:hover {
          box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
          transition: all ease .3s;
        }
        
        @include sm {
          width: 100%;
          margin: 2em auto;
        }
  
        @include xs {
          width: 100%;
        }

  
        .item-thumbnail {
          width: 50%;
          overflow: hidden;
          position: relative;
  
  
          &:hover > a.main-thumbnail {
            transform: scale(1.2);
          }
  
          a.main-thumbnail {
            display: block;
            transition: all ease .5s;
          }
  
          a.sub-thumbnail {
            transition: all ease .5s;
            display: block;
            position: absolute;
            top: 0;
            z-index: 100;
            left: -200px;
    
            img {
              width: 100%;
              position: absolute;
              height: 100%;
            }
  
          }
        }
  
        .item-content {
          padding: .8em 1.2em;
          width: 50%;
  
          @include sm() {
            width: 80%;
            margin-left: -2%;
          }
  
          &__title {
            a {
              font-weight: 600;
              white-space: normal;
              line-height: 20px;
              text-decoration: none;
              color: #111;
              transition: all ease .3s;
              text-align: justify;
              &:hover {
                color: #eb3349;
                transition: all ease .3s;
              }
            }
          }
  
          &__time {
            margin-top: 5%;
            margin-bottom: 10%;
            line-height: 15px;
            span {
              font-size: 80%;
              opacity: .6;
              color: #111;
              text-align: justify;
              white-space: nowrap;
            }
          }
  
          &__chapter {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            @include sm {
              align-items: flex-start;
            }
  
            a {
              color: #111;
              font-weight: 600;
              font-size: 90%;
              text-decoration: none;
              white-space: nowrap;
              margin: 5px 0;
              padding: .1em 1.9em;
              border-radius: 20px;
              transition: all ease .3s;
              border: 1px solid rgba(1,1,1,.1);
              
              &:hover {
                background-color: #eb3349;
                color: #fff;
                transition: all ease .3s;
              }

              &:hover {
                border: 1px solid #eb3349;
                transition: all ease .2s;
              }
  
              @include sm() {
                padding-left: 20px;
                padding-right: 60%;
              }
            }
          }
        }
      }
    }
  }
}

/* 
---------------------------------------------
07. Update End
--------------------------------------------- 
*/




/* 
---------------------------------------------
08. Content Main Start
--------------------------------------------- 
*/
  .content-main {
      &__horizontal {
        @include sm() {
          width: 100%;
        }
        img {
          width: 100%;
        }
        .horizontal-title {
          /* rotate customize */
          display: flex;
          align-items: center;
          flex-flow: row nowrap;
          margin: 4% 0 4% -2%;
          @include sm() {
            margin-left: -3.5%;
          }
          div.rotate {
            /* icon */
            position: relative;
            background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            width: 2.5em;
            height: 2.5em;
            margin: 0 1em;

            /* fonawesome */
            i {
              color: #fff;
              font-size: 110%;
            }
            div {
              position: absolute;
              width: .8em;
              height: .8em;
              right: -.3em;
              top: 35%;
              transform: rotate(45deg);
              background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 100%);
            }
          }

          p {
            color: #111;
            font-size: 130%;
            font-weight: 600;
            text-transform: uppercase;
            white-space: nowrap;
            letter-spacing: 1px;
            line-height: 2em;
            margin-top: .3em;
          }
        }

        .horizontal-content {
          width: 100%;
          &__item {
            margin: 15% 0;
            .item-picture {
              a {
                img {
                  width: 100%;
                  user-select: none;
                }
              }
            }

            .item-paragraph {
              height: 5vh;
              max-height: 10vh;
              padding: 3vh 0 4vh 0;
              display: flex;
              align-items: center;
              justify-content: flex-start;
              a {
                color: #111;
                font-weight: 600;
                font-size: 1.1em;
                text-decoration: none;
                transition: all ease .3s;
                &:hover {
                  color: #eb3349;
                  transition: all ease .3s;
                }
              }
            }

            .item-star {
              display: flex;
              align-items: center;
              &__icon {
                user-select: none;
                i {
                  color: #ffd900;
                  margin-right: .15em;
                  user-select: none;
                }
              }

              &__rate {
                color: #111;
                font-size: 90%;
                margin-left: .2em;
              }
            }

            .item-note {
              display: flex;
              align-items: center;
              flex-flow: column nowrap;
              height: 5vh;
              &__first {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 5% 1%;
                .first-chapter {
                  display: flex;
                  align-items: center;
                  a {
                    color: #666666;
                    font-size: 85%;
                    font-weight: 600;
                    white-space: nowrap;
                    text-decoration: none;
                    cursor: pointer;
                  }
                }
                
                .first-time {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  span {
                    color: #888;
                    font-size: 75%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }        
                }
              }

              &__second {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 5% 1%;
                .second-chapter {
                  display: flex;
                  align-items: center;
                  a {
                    color: #666666;
                    font-size: 85%;
                    font-weight: 600;
                    white-space: nowrap;
                    text-decoration: none;
                    cursor: pointer;
                  }
                }
                
                .second-time {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 100%;
                  span {
                    color: #888;
                    font-size: 75%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }        
                }
              }
            }
          }
        }

        .more {
          width: 95%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: row nowrap;
          margin: 2em auto;
          @include sm() {
            width: 95%;
            margin: 2em auto;
          }
          a {
            padding: 1em 0;
            border: 1px solid #ebebeb;
            background-color: #f9f9f9 ;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row nowrap;
            text-decoration: none;
            color: #111;
            font-size: 1.1em;
            text-transform: uppercase;
            margin: 1em 0;
            transition: all ease .3s;
            font-weight: 600;
            &:hover {
              background-color: #eb3349;
              color: #fff;
              transition: all ease .3s;
            }
            i {
              font-size: 80%;
              margin-left: .5em;
              margin-top: .2em;
            }
          }
        }

        .ads {
          width: 95%;
          margin: 0 auto;
        }
      }

      &__vertical {
        .vertical-title {
          div.rotate {
            /* icon */
            position: relative;
            background-image: linear-gradient(135deg, #eb3349 0%, #f35b43 100%);
            display: flex;
            justify-content: center;
            align-items: center;
            padding: .8em 0;
            margin: 3em 1em;

            /* fonawesome */
            p {
              color: #fff;
              font-size: 1.2em;
              text-transform: uppercase;
              white-space: nowrap;
              font-weight: 600;
            }
            div {
              position: absolute;
              width: .8em;
              height: .8em;
              left: 2em;
              bottom: -7%;
              transform: rotate(45deg);
              background-image: linear-gradient(135deg, #f35b43 0%, #eb3349 10%);
            }
          }
        }

        @include sm() {
          display: none;
          width: 0%;
        }
      }
  }
/* 
---------------------------------------------
08. Content Main End
--------------------------------------------- 
*/

  /* Temp */
    /* Menu Dropdown */
      ul.menu-dropdown__secondary {
        position: absolute;
        display: inline-block;
        top: 100%;
        transition: all 0.3s ease;
        transform: translateY(10px);
        visibility: hidden;
        opacity: 0;
        width: 100%;
        &:hover {
          opacity: 1;
          transform: translateY(-10px);
          visibility: visible;
        }
        li {
          width: 100%;
          a {
            color: #111;
            padding: 8px 20px;
            background-color: #fff;
            border-bottom: 1px solid rgba(224, 224, 224, 0.7);
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
              0 3px 6px rgba(0, 0, 0, 0.23);
            text-transform: uppercase;
            font-size: 1.4rem;
            &:hover {
              background-color: rgb(224, 224, 224);
              transition: all 0.3s ease;
              transition: none !important;
            }
          }
          .arrow {
            position: absolute;
            width: 11px;
            height: 11px;
            top: 5%;
            left: 10%;
            transform: rotate(45deg);
            background-color: #fff;
            cursor: pointer;
          }
        } /* li */
      } /* ul */

      /* Container Hidden */
      .container {
        overflow: hidden;
      }

      .owl-prev, .owl-next {
        display: none !important;
        visibility: hidden !important;
      }

      div.fixed-bar {
        width: 20%;
        bottom: 100%;
        @include lg() {
          display: none;
        }
      }